body {
background-color: rgb(196, 227, 247);

}

.titleText {
 text-align: center;
}

.summaryText {
text-align: left;
box-sizing: content-box;
width: 100%;
border: solid #000000 5px;
padding: 9px;
}

#cityName {

}

#airQuality {

}

#windSpeed {

}

#windDirection{

}